.connection-point,
.connection-point-edit
  position: relative
  display: flex
  flex-direction: column
  margin: -0.7rem auto
  padding: 0 .4rem
  width: fit-content
  text-align: center
  z-index: 2

  &.direction-reverse
    flex-direction: column-reverse

.connection-origin
  display: flex
  flex-direction: column
  justify-content: center
  width: 2.7rem
  height: 2.7rem
  margin: auto
  font-weight: 700
  font-size: .7rem
  border-radius: 50%

.connection-direction-spacer
  width: .12rem
  height: 1.5rem
  margin: auto
  background: #c4c6ce

.connection-direction
  min-width: 5rem
  color: #c4c6ce
