@use '../../core/styles/mixins' as mixin
@use '../../core/styles/variables' as var

:host
  position: relative
  display: block
  padding: 1rem

.move-details,
.move-details-edit
  position: relative
  +mixin.wrapper(mixin.pxInRem(960))
  padding: 1rem
  color: var.$gray-light
  background-color: var.$gray-dark
  border-radius: .4rem
  overflow: hidden

h1
  margin: -1rem -1rem 0
  padding: 1rem 5rem 1rem 1rem
  font-size: 1.4rem
  color: var.$white
  background-color: var.$gray-medium

.edit-link
  position: absolute
  +mixin.top-right(.6rem, .8rem)
  padding: .3rem .6rem
  font-size: 1.4rem
  text-decoration: none
  background: linear-gradient(167deg, var.$gray-darker, var.$gray-dark)
  border-radius: .4rem

  &:hover,
  &:focus
    background: linear-gradient(167deg, var.$gray-dark, var.$gray-darker)

.tags
  display: flex
  flex-wrap: wrap
  gap: 0.5rem
  margin: 1rem 0 2rem
  padding: 0
  list-style: none

.tag
  background-color: var.$gray-medium
  padding: 0.25rem 0.75rem
  font-size: 0.8rem
  border-radius: 3rem

hr
  margin: 3rem 0
  opacity: .2

.connections
  display: flex
  flex-wrap: wrap
  gap: 1rem

.connection
  +mixin.flex-column-top
  flex: 1
  text-align: center

.step-details
  display: grid
  grid-template-rows: 1fr
  grid-auto-rows: 1fr
  gap: 1rem
  margin-top: 2rem

.step-detail,
.step-detail-edit
  display: grid
  grid-template-columns: min(5vw, 5rem) 1fr
  gap: 2rem
  background-color: rgba(var.$gray-medium, .3)

  &:nth-child(even)
    background-color: var.$gray-dark

    .step-number
      background-color: rgba(var.$gray-lightest, .1)

.step-number
  +mixin.flex-column-center
  background-color: rgba(var.$gray-lighter, .1)
